# Steps
# 1. Make a copy of this file and name it .envrc.{your-environment}
# 2. Change the values of the variables
# 3. Run the script with the name of the file as an arguments

export spring_profiles_active=local
export PORT=8080
export HOSTNAME=localhost